node_modules/
dist/
*.tsbuildinfo
*.log
coverage/
.nyc_output
*.tmp
*.temp

.npmrc
README.md
!/README.md
.editorconfig
.eslintcache
.turbo
.tnmsc.json
!libraries/init-bundle/public/.idea/
!libraries/init-bundle/public/.idea/**
!libraries/init-bundle/public/.vscode/
!libraries/init-bundle/public/.vscode/**
!libraries/init-bundle/public/.editorconfig
cli/npm/**/*.node
cli/npm/**/bin/
cli/npm/**/tnmsc
cli/npm/**/tnmsc.exe
cli/integrate-tests/.tmp/
libraries/**/dist/*.node
**/target/
!**/Cargo.lock
output/
